div.SelectPage{
    width: 100%;
    height: auto;
    margin: 0;
    clear: both;
}
div.SelectPart{
    width: auto;
    display: block;
}
div.SelectSelect{
    display: block;
    width: 20%;
    float: left;
   
}
select.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
label {
    display: block;
    max-width: 100%;
    line-height: 220%;
    font-weight: 900;
    font-size: 15px;
    cursor: default;
    width: 25%;
    float: left;
}