body {
  line-height: 26px;
  color: #414a60;
  font-size: 14px;
}
html,body{
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 937px;
  min-width: 1349px;
  background-color:whitesmoke;
}

body,button,input,option,select,td,textarea {
  font-family: arial, verdana, helvetica, 'PingFang SC', 'HanHei SC', STHeitiSC-Light, Microsoft Yahei, sans-serif;
  -webkit-font-smoothing: antialiased;
}
