div.ManagementPage{
    width: 100%;
    min-width: 1349px;
    min-height: 900px;
    height: auto;
    margin: 0;
    padding: 0;

    background-color: whitesmoke;
}

div.ManagementTop{
    position: sticky;
    top: 0px;
    z-index: 999;
}

div.ManagementContext{
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 90%;
    min-width: 1214px;
    height: auto;
    min-height: 160px;
    top:35%;
    left: 5%;
    z-index: 998;
    
    background-color: rgb(212, 211, 211);
}

span.ManagementLable{
    margin:0;
    padding:0;
    font-size:16px;
    font-weight: 550;
}
div.ManagementContextPart{
    margin:0;
    padding:0;
    width: 100%;
    height: auto;
}