div.ManagementPage{
    width: 100%;
    min-width: 1349px;
    min-height: 900px;
    max-height: 2000px;
    margin: 0;

    background-color: white;
}
div.ManagementTop{
    position: sticky;
    top: 0px;
    z-index: 999;
}
div.ManagementNav{
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 150px;
    height: auto;
    min-height: 400px;
    top:200px;
    left: 15%;
    background-color: rgb(39, 36, 36);
}
div.ManagementNav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
div.ManagementNav li{
    margin: 0;
    padding: 0;
    cursor: pointer;
    
    font-family: georgia, serif;
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.8pt;
    word-spacing: -2.2pt;

    line-height: 60px;
    
}
div.ManagementNav li:hover{
    color: aqua;
}
div.ManagementNav li.selected{
    color: aqua;
}
div.ManagementContext{
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    height: auto;
    width: 60%;
    overflow: auto;
    min-height: 690px;
    left: 400px;
    top:200px;
    overflow: auto;
    
    background-color: yellowgreen;
}