.fontArea {
    color: yellowgreen;
    text-shadow: 1px 1px 0 #E4F1FF;
    font-size: 20px;
    line-height: 450%;
    font-weight: 900;
  }
.fontContext {
    color: yellowgreen;
    text-shadow: 1px 1px 0 #E4F1FF;
    font-size: 18px;
    line-height: 500%;
    font-weight: 900;
  }
  .fontSalary{
      color: yellowgreen;
      text-shadow: 1px 1px 0 #E4F1FF;
      font-size: 18px;
      line-height: 500%;
      font-weight: 900;
    }
.fontContactWay {
    color: yellowgreen;
    text-shadow: 1px 1px 0 #E4F1FF;
    font-size: 15px;
    line-height: 600%;
    font-weight: 900;
  }
.fontAuthorName {
  color: yellowgreen;
  text-shadow: 1px 1px 0 #E4F1FF;
  font-size: 15px;
  line-height: 600%;
  font-weight: 900;
}