div.JurisdictionManagementPage{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}
div.JurisdictionManagementCardInfo{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;
    border-bottom-color: black;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
div.JurisdictionManagementCardInfo ul{
    float: left;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 75%;
    list-style-type: none;
}
div.JurisdictionManagementCardInfo ul li{
    display:inline-block;
    float: left;
    margin: 0;
    padding: 0;
    padding-top: 0.5%;
    width: 13%;
    height: 100%;
    font-size: 17px;
    line-height: 200%;
}
ul.JurisdictionManagementUl{
    width: 100%;
    min-height: 360px;
    padding: 0;
    margin: 0;
}
li.JurisdictionManagementLi{
    width: 100%;
    padding: 0.3% 0 0.5% 0;
    margin: 0;
    border-bottom-width: 1px;
    border-bottom-color: grey;
    border-bottom-style: solid;
}
div.JurisdictionManagementLiDiv{
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
    text-align: center;
}
div.JurisdictionManagementLiDiv span{
    display: inline-block;
    float: left;
    width: 9.8%;
}
div.JurisdictionManagementPageTurn{
    margin: 3% 0 4% 0;
    padding: 0 26% 0 0;
}