div.FindPage{
    width: auto;
    height: auto;
    min-width: 1349px;
    min-height: 900px;
    max-height: 2000px;
    margin: 0;
}
div.FindTop{
    position: sticky;
    top: 0px;
    z-index: 999;
}
div.FindSelectPage{
    margin: 0;
    width: 100%;
    height: 20%;
    position: absolute;
    z-index: 2;
    background-color:white;
}
div.FindSelectPage div.FindSelect{
    display: block;
    position: relative;
    top:20%;
}
div.FindSelectPage div.FindDate{
    display: block;
    position: relative;
    left: -5%;
    top:15%;
}
div.FindContext{
    display: block;
    position: relative;
    margin: 0;
    width: 55%;
    min-height: 720px;
    height: auto;
    left: 15%;
    top:200px;
    z-index: 2;
}
div.FindBottom{
    display: block;
    position:relative;
    width:100%;
    height: auto;
    margin: auto;
    margin-top: 25%;
    z-index: 2;
}
div.FindUserInfo{
    display: block;
    position:absolute;
    height: auto;
    margin: 0;
    padding: 0;
    width: 20%;
    left: 100%;
    background-color:white;
}
div.FindUserInfo ul{
    margin: 0;
    display: block;
    list-style-type:none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
div.FindUserInfo li{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 90px;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
div.FindUserInfoNoToken{
    display: block;
    position:absolute;
    height: auto;
    margin: 0;
    padding: 0;
    width: 20%;
    left: 100%;
    background-color:white;
}
div.FindUserInfoNoToken ul{
    margin: 0;
    display: block;
    list-style-type:none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
div.FindUserInfoNoToken li{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 90px;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
div.FindUserInfo li:hover{
    cursor: pointer;
    color: green;
}
span.FindIconTop{
    position: fixed;
    font-size: 25px;
    left: 95%;
    top: 88%;
    z-index: 999;
}