div.Page{
  width: auto;
  min-width: 1349px;
  min-height: 900px;
  max-height: 2000px;
  margin: 0;
  background-color: yellowgreen;
}
div.Context{
  margin: 0;
  margin-top:15%;
  margin-left: 15%;
  left: 15%;
  width: 55%;
  height: auto;
}
div.Bottom{
  margin-bottom: 5%;
  width:70%;
  height: auto;
  margin-top: 10%;
  margin-left: 15%;
}