div.MyApplyPage{
    width: 100%;
    height: auto;
    min-height: 900px;
    max-height: 2000px;
    margin: 0;
}
div.MyApplyTop{
    position: sticky;
    top: 0px;
    z-index: 999;
}
div.MyApplyAdd{
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    height: 50px;
    width: 55%;
    min-width: 740px;
    left: 200px;
    top:150px;
}
div.MyApplyContext{
    display: block;
    position: relative;
    margin: 0;
    width: 55%;
    min-height: 720px;
    height: auto;
    left: 15%;
    top:155px;
    z-index: 2;
}
div.MyApplyRedact{
    display: block;
    position:absolute;
    height: auto;
    margin: 0;
    padding: 0;
    width: 20%;
    left: 100%;
    background-color:white;
}
div.MyApplyRedact ul{
    margin: 0;
    display: block;
    list-style-type:none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
div.MyApplyRedact li{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 90px;
}
div.MyApplyBottom{
    display: block;
    position:relative;
    width:100%;
    height: auto;
    margin: auto;
    margin-top: 25%;
    z-index: 2;
}